div#result
{
    background: linear-gradient(to right,#9b59b6, #8e44ad);
    width:100%;
    height:680px;
    border-bottom-left-radius: 3em;
    padding:3em !important;
    z-index:-1 !important;
    position: relative;
    top:-25px;
    h2,
    h1
    {
        font-weight: 900;
    }
    img
    {
        margin:0px 35%;
    }
}