div#schedule
{
    background: linear-gradient(to right,#1abc9c, #16a085);
    width:100%;
    height:auto;
    border-bottom-left-radius: 3em;
    padding-top:3.5em !important;
    z-index:-2 !important;
    position: relative;
    top:-150px;
    h2,
    h1
    {
        font-weight: 900;
    }
    img
    {
        margin:0px 35%;
    }
}