//slidewrap edits
.slidewrap{
   width: auto;
   // background: linear-gradient(to right, #1c223b, #07103ac9  );
   // background-image: url('/shells_website/images/ai.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    max-height: 680px;
    margin:0px auto;
    color: black;
//circle border
    .circle-border{
        
        background-color: rgba(196, 241, 255, 0.8);
        border-radius:50%;
        width:300px;
        height: 300px;
        margin: auto;
//image adjust
        .img-edit{
            margin-left:-30px;
        }
    }
  //heading design
    .heading{
        font-family: 'Exo', sans-serif;
        font-size: 4.2em;
        margin: auto;
        margin-top: 30px;
    }
    .sub-heading{
        font-family: 'Exo', sans-serif;
        margin: auto;
        margin-top: 40px;
    }
}