.slidewrap{
    top: 20px;
    width: auto;
    background: linear-gradient(to right, #1c223b, #07103ac9  );
    height: 607px;
    margin:0,auto;
    margin-top:-20px;
    color: black;

    .image-container{
        
    }
}