//slidewrap edits
.slidewrap{
   width: auto;
   background: linear-gradient(to right, #ecf0f1, #bdc3c7 );
    height: 700px;
    color: black;
    padding: 2em;
    z-index:99 !important;
    border-bottom-left-radius: 3em;
    position: relative;
    top:-1.4em;
//circle border
    .circle-border{
        
        background-color: rgba(196, 241, 255, 0.8);
        border-radius:50%;
        width:300px;
        height: 300px;
        margin: auto;
//image adjust
        .img-edit{
            margin-left:-30px;
        }
    }
  //heading design
    .heading{
        font-family: 'Exo', sans-serif;
        font-size: 4.2em;
        margin: auto;
        margin-top: 30px;
    }
    .sub-heading{
        font-family: 'Exo', sans-serif;
        margin: auto;
        margin-top: 40px;
    }
}